<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .content {
            text-align: center;
        }

        .navbar-nav {
            align-items: center;
        }

        .navbar-light .navbar-nav .nav-link {
            color: rgb(255 255 255);
            font-size: 18px;
            font-weight: bold;
        }

        .container {
            background: linear-gradient(135deg, rgb(231 231 231 / 46%), rgb(0 0 0 / 24%));
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
        }

        .table td, .table th {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
            color: #0062cc;
        }

        img {
            vertical-align: middle;
            border-style: none;
            width: 50px;
        }

        .alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            margin-top: 18px;
            text-align: center;
        }
    </style>
</head>
<body>

<!-- Navigation menu -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container px-4">
        <!-- Logo -->
        <a class="navbar-brand" href="/home">
            <img src="/images/logo.png" alt="logo">
        </a>
        <!-- /Logo -->
        <a class="navbar-brand" href="/home">Home Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                    <a class="nav-link" href="/my-account">My profile</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                    <a class="nav-link" href="/recipes">Recipes</a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                    <form class="form-inline" action="/logout" method="post">
                        <button class="btn btn-link nav-link" type="submit">Logout</button>
                    </form>
                </li>
                <!-- If the user is not authenticated -->
                <li th:unless="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li th:unless="${#authorization.expression('isAuthenticated()')}" class="nav-item">
                    <a class="nav-link" href="/registration">Registration</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page content -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 content">
            <h2>Nutrition Calculator</h2>
            <p class="text-center mx-auto">
                The Nutrition Calculator project is designed to assist users in obtaining detailed nutritional
                information about various food products. With a user-friendly interface, this application allows users
                to input the name of a food product and receive its nutritional characteristics instantly. The provided
                data includes essential nutritional values such as calories, serving size, fat content, protein, sodium,
                potassium, cholesterol, total carbohydrates, fiber, and sugar.</p>
            <p class="text-center mx-auto">
                This platform aims to empower individuals in making informed dietary choices by providing comprehensive
                nutritional insights into different food items. The system fetches real-time data from an external API
                to ensure accuracy and reliability in the nutritional information provided.</p>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-md-6 content">
            <h2>Get Product Characteristics</h2>
            <form th:action="@{/get-product-info}" method="post">
                <div class="form-group">
                    <label for="productInput">Enter product name:</label>
                    <input type="text" class="form-control" id="productInput" name="productName" required>
                </div>
                <button type="submit" class="btn btn-primary">Get Characteristics</button>
            </form>
        </div>
    </div>
    <div class="row mt-4" th:if="${product != null}">
        <div class="col-md-12 content" id="productCharacteristics">
            <h2 th:text="'Product: ' + ${product.name.toUpperCase()}">Product Characteristics</h2>
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <tbody>
                    <tr>
                        <th scope="row">Calories</th>
                        <td th:text="${product.calories}"></td>
                        <th scope="row">Fat Total (g)</th>
                        <td th:text="${product.fat_total_g}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Fat Saturated (g)</th>
                        <td th:text="${product.fat_saturated_g}"></td>
                        <th scope="row">Protein (g)</th>
                        <td th:text="${product.protein_g}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Sodium (mg)</th>
                        <td th:text="${product.sodium_mg}"></td>
                        <th scope="row">Potassium (mg)</th>
                        <td th:text="${product.potassium_mg}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Cholesterol (mg)</th>
                        <td th:text="${product.cholesterol_mg}"></td>
                        <th scope="row">Carbohydrates (g)</th>
                        <td th:text="${product.carbohydrates_total_g}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Fiber (g)</th>
                        <td th:text="${product.fiber_g}"></td>
                        <th scope="row">Sugar (g)</th>
                        <td th:text="${product.sugar_g}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div th:if="${errorMessage}" class="alert alert-danger py-2">
        <p th:text="${errorMessage}" style="
            margin-bottom: 0px;"></p>
    </div>
</div>

<!-- Bootstrap JS and jQuery (required for certain Bootstrap features) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
